rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /datosZodiaco/{document=**} {
      allow read, write: if true;
    }

    match /datosUsuarios/{document=**} {
      allow read, write: if true;
    }
    
  }
}
